<section class="experience-section" id="gallery">
  <!-- experince section -->
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="experience-list">
      <li class="experience-item">
        <picture class="experience-img-set">
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/experience/desktop/ceramic-cup-desktop@1x.jpg 1x,
              /images/experience/desktop/ceramic-cup-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/experience/tablet/ceramic-cup-tablet1x.jpg 1x,
              /images/experience/tablet/ceramic-cup-tablet2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/experience/mobile/ceramic-cup-mobile1x.jpg  1x,
              /images/experience/mobile/ceramic-cup-mobile@2x.jpg 2x
            "
          />
          <img
            class="experience-img"
            src="/images/experience/desktop/ceramic-cup-desktop@1x.jpg"
            alt="ceramic cup"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/experience/desktop/breakfast-desktop@1x.jpg  1x,
              /images/experience/desktop/breakfast-desktop@2x..jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/experience/tablet/breakfast-tablet1x.jpg 1x,
              /images/experience/tablet/breakfast-tablet2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/experience/mobile/breakfast-mobile1x.jpg 1x,
              /images/experience/mobile/breakfast-mobile2x.jpg 2x
            "
          />
          <img
            src="/images/experience/desktop/breakfast-desktop@1x.jpg"
            alt="breakfast"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/experience/desktop/cafe-corner-desktop@1x.jpg 1x,
              /images/experience/desktop/cafe-corner-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/experience/tablet/cafe-corner-tablet1x.jpg 1x,
              /images/experience/tablet/cafe-corner-tablet2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/experience/mobile/cafe-corner-mobile1x.jpg 1x,
              /images/experience/mobile/cafe-corner-mobile2x.jpg 2x
            "
          />
          <img
            src="/images/experience/desktop/cafe-corner-desktop@1x.jpg"
            alt="cafe corner"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/experience/desktop/hands-barista-desktop@1x.jpg 1x,
              /images/experience/desktop/hands-barista-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/experience/tablet/hands-barista-tablet1x.jpg 1x,
              /images/experience/tablet/hands-barista-tablet2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/experience/mobile/hands-barista-mobile1x.jpg 1x,
              /images/experience/mobile/hands-barista-mobile2x.jpg 2x
            "
          />
          <img
            src="/images/experience/desktop/hands-barista-desktop@1x.jpg"
            alt="hands barista"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/experience/desktop/view-of-cafe-desktop@1x.jpg  1x,
              /images/experience/desktop/view-of-cafe-desktop@2x..jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/experience/tablet/view-of-cafe-tablet1x.jpg 1x,
              /images/experience/tablet/view-of-cafe-tablet2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/experience/mobile/view-of-cafe-mobile1x.jpg 1x,
              /images/experience/mobile/view-of-cafe-mobile2x.jpg 2x
            "
          />
          <img
            src="/images/experience/desktop/view-of-cafe-desktop@1x.jpg"
            alt="view of cafe"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/experience/desktop/two-cups-desktop@1x.jpg 1x,
              /images/experience/desktop/two-cups-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/experience/tablet/two-cups-tablet1x.jpg 1x,
              /images/experience/tablet/two-cups-tablet2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/experience/mobile/two-cups-mobile1x.jpg 1x,
              /images/experience/mobile/two-cups-mobile2x.jpg 2x
            "
          />
          <img
            src="/images/experience/desktop/two-cups-desktop@1x.jpg"
            alt="two cups"
          />
        </picture>
      </li>
      <li class="experience-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /images/experience/desktop/takeaway-coffee-desktop@1x.jpg 1x,
              /images/experience/desktop/takeaway-coffee-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/experience/tablet/takeaway-coffee-tablet1x.jpg 1x,
              /images/experience/tablet/takeaway-coffee-tablet2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /images/experience/mobile/takeaway-coffee-mobile1x.jpg 1x,
              /images/experience/mobile/takeaway-coffee-mobile2x.jpg 2x
            "
          />
          <img
            src="/images/experience/desktop/takeaway-coffee-desktop@1x.jpg"
            alt="take away coffee"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
