<section class="location-section" id="location">
  <div class="container">
    <div class="location-container">
      <div class="location-sub-container">
        <div class="location">
          <p class="find-paragraph">Find</p>
          <h2 class="location-header">LOCATION</h2>
          <p class="location-paragraph">Visit us at our cozy coffee shop!</p>
        </div>

        <ul class="contacts">
          <li class="contact-item">
            <svg class="contact-icon" width="32" height="32">
              <use href="/images/svg/icons.svg#icon-envelope"></use>
            </svg>
            <h3 class="contact-header">EMAIL</h3>
            <a class="contact-link" href="mailto:hello@coffeejoy.com"
              >hello@coffeejoy.com</a
            >
          </li>

          <li class="contact-item">
            <svg class="contact-icon" width="32" height="32">
              <use href="/images/svg/icons.svg#icon-phone"></use>
            </svg>
            <h3 class="contact-header">PHONE</h3>
            <a class="contact-link" href="tel:+15551235321"
              >+1 (555) 123-5321</a
            >
          </li>

          <li class="contact-item">
            <svg class="contact-icon" width="32" height="32">
              <use href="/images/svg/icons.svg#icon-map"></use>
            </svg>
            <h3 class="contact-header">OFFICE</h3>
            <p class="office-paragraph">
              263 Newbury St, Boston, MA 02116, USA
            </p>

            <a
              class="directions-link"
              href="https://maps.app.goo.gl/eZb115851CSKQ3MUA"
              target="_blank"
            >
              Get Directions

              <svg class="direction-icon" width="24" height="24">
                <use href="/images/svg/icons.svg#icon-single-arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="map-container">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.66911361919!2d-71.08594152338802!3d42.34957747119386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2s263%20Newbury%20St%2C%20Boston%2C%20MA%2002116%2C%20USA!5e0!3m2!1sen!2suk!4v1756687736681!5m2!1sen!2suk"
          width="869"
          height="697"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</section>
