<section class="quality-section" id="quality">
  <div class="container quality-container">
    <div class="quality-header">
      <p class="section-subtitle">Quality</p>
      <h2 class="section-title">WHY COFFEEJOY STANDS OUT FROM THE REST</h2>
      <p class="quality-description">
        At Coffee Joy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>
    <ul class="quality-list">
      <li class="quality-item">
        <picture class="quality-image">
          <source
            srcset="
              /images/quality/desktop/freshly-roasted-beans-desktop.jpg    1x,
              /images/quality/desktop/freshly-roasted-beans-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /images/quality/tablet/freshly-roasted-beans-tablet.jpg   1x,
              /images/quality/tablet/freshly-roasted-beans-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/quality/mobile/freshly-roasted-beans-mobile.jpg   1x,
              /images/quality/mobile/freshly-roasted-beans-mobile2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/images/quality/desktop/freshly-roasted-beans-desktop.jpg"
            alt="Freshly roasted coffee beans falling, rich aroma."
          />
        </picture>
        <div class="quality-content">
          <h3 class="quality-subtitle">Fresh-Roasted Coffee for Every Taste</h3>
          <p class="quality-text">
            Savor the rich flavors of our expertly sourced beans.
          </p>
        </div>
      </li>
      <li class="quality-item">
        <picture class="quality-image">
          <source
            srcset="
              /images/quality/desktop/expert-barista-desktop.jpg    1x,
              /images/quality/desktop/expert-barista-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /images/quality/tablet/expert-barista-tablet.jpg   1x,
              /images/quality/tablet/expert-barista-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/quality/mobile/expert-barista-mobile.jpg   1x,
              /images/quality/mobile/expert-barista-mobile2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/images/quality/desktop/expert-barista-desktop.jpg"
            alt="Barista creating latte art."
          />
        </picture>
        <div class="quality-content">
          <h3 class="quality-subtitle">
            Expert Baristas Crafting your Perfect Brew
          </h3>
          <p class="quality-text">
            Our baristas are passionate about coffee and skilled in their craft.
          </p>
        </div>
      </li>
      <li class="quality-item">
        <picture class="quality-image">
          <source
            srcset="
              /images/quality/desktop/cozy-cafe-atmosphere-desktop.jpg    1x,
              /images/quality/desktop/cozy-cafe-atmosphere-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /images/quality/tablet/cozy-cafe-atmosphere-tablet.jpg   1x,
              /images/quality/tablet/cozy-cafe-atmosphere-tablet2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /images/quality/mobile/cozy-cafe-atmosphere-mobile.jpg   1x,
              /images/quality/mobile/cozy-cafe-atmosphere-mobile2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/images/quality/desktop/cozy-cafe-atmosphere-desktop.jpg"
            alt="Cozy cafe interior, comfortable seating."
          />
        </picture>
        <div class="quality-content">
          <h3 class="quality-subtitle">Cozy Atmosphere</h3>
          <p class="quality-text">
            We don't just serve coffee—we create a warm and welcoming space
            where every cup feels like home.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
