<section class="testimonials-section">
  <div class="container">
    <h2 class="testimonials-h">What our visitors say</h2>
    <ul class="rewev-ul">
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>
        <p class="rewev-name">Name Surname</p>
      </li>
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance
          is so inviting, and the baristas are always friendly."
        </p>
        <p class="rewev-name">Alice Johnson</p>
      </li>
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "I love the variety of blends offered at CoffeeJoy. Every visit feels
          like a new experience!"
        </p>
        <p class="rewev-name">Michael Smith</p>
      </li>
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <p class="rewev-name">Emily Davis</p>
      </li>
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
          here every weekend!"
        </p>
        <p class="rewev-name">James Brown</p>
      </li>
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "The atmosphere is perfect for working or relaxing with friends. Their
          Wi-Fi is fast too!"
        </p>
        <p class="rewev-name">Sarah Wilson</p>
      </li>
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "I’m addicted to their seasonal flavors! Each one is crafted with such
          care and creativity."
        </p>
        <p class="rewev-name">Chris Lee</p>
      </li>
      <li class="rewev-li">
        <ul class="star-ul">
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-full" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
          <li class="star-li">
            <div>
              <svg class="star-svg-hollow" width="20" height="20">
                <use href="/images/svg/icons.svg#icon-star"></use>
              </svg>
            </div>
          </li>
        </ul>
        <p class="rewev-comment">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <p class="rewev-name">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
