<section class="welcome-section">
  <div class="container welcome-container">
    <div class="welcome-container-text-part">
      <div class="welcome-container-title">
        <p class="welcome-text-title">Welcome</p>
        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-container-text">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a class="welcome-btn" href="#location">
          Find location
          <svg class="icon-location-welcome" width="24" height="24">
            <use href="/images/svg/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /images/welcome/warm_authentic_image_desktop@1x.jpg 1x,
          /images/welcome/warm_authentic_image_desktop@2x.jpg 2x
        "
        width="1312"
        height="738"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /images/welcome/warm_authentic_image_tablet1x.jpg 1x,
          /images/welcome/warm_authentic_image_tablet2x.jpg 2x
        "
        width="704"
        height="396"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /images/welcome/warm_authentic_image_mobile1x.jpg 1x,
          /images/welcome/warm_authentic_image_mobile2x.jpg 2x
        "
        min-width="288"
        height="162"
      />
      <img
        class="welcome-img"
        src="/images/welcome/warm_authentic_image_desktop@1x.jpg"
        alt="the barista is making coffee"
      />
    </picture>
  </div>
</section>
