<section class="welcome-section">
  <div class="container">
    <p class="welcome-text-title">Welcome</p>
    <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
    <p class="welcome-text">
      At CoffeeJoy, we believe that every cup tells a story. Our mission is to
      bring you the finest coffee experiences, crafted with care and dedication.
      We are committed to sourcing high-quality beans and roasting them to
      perfection, ensuring each sip is a delight.
    </p>
    <button class="welcome-btn">Find location</button>
    <img src="../images/welcome/warm_authentic_image_desktop@1x.jpg" alt="" />
  </div>
</section>
