/* Mobile */

.location-section {
  padding: 64px 0;
}

.find-paragraph {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
}

.location {
  margin-bottom: 40px;
}

.location-header {
  font-family: 'Aboreto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.location-paragraph {
  font-size: 18px;
  line-height: 1.5;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-icon {
  fill: #0b0803;
  margin-bottom: 16px;
}

.contact-header {
  font-family: 'Aboreto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.contact-link {
  display: inline-block;
  line-height: 1.5;
  text-decoration: underline;
  color: #0b0803;
  transition: opacity ease-in-out 250ms;
}

.contact-link:hover,
.contact-link:focus {
  opacity: 0.5;
}

.contact-link:active {
  opacity: 0.7;
}

.office-paragraph {
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 16px;
}

.directions-link {
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  color: #0b0803;
  transition: opacity ease-in-out 250ms;
  display: flex;
  align-items: center;
  gap: 8px;
}

.directions-link:hover,
.directions-link:focus {
  opacity: 0.5;
}

.directions-link:active {
  opacity: 0.7;
}

.direction-icon {
  fill: #0b0803;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.map-container {
  height: 307px;
  border-radius: 40px;
  overflow: hidden;
}

.map {
  filter: grayscale(80%);
}

/* Tablet */

@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: row;
  }

  .contact-item {
    flex-basis: calc((100% - 80px) / 3);
  }

  .map-container {
    max-width: 704px;
    width: 100%;
    height: 377px;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .location-container {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  .contacts {
    flex-direction: column;
  }

  .location-header {
    font-size: 48px;
  }

  .location-sub-container {
    flex-basis: 419px;
  }

  .map-container {
    max-width: 869px;
    width: 100%;
    height: 697px;
  }
}
