.subscription-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.subscription-open.subscription-modal {
  opacity: 1;
  visibility: visible;
}

/* Контейнер модалки */
.subscription-content {
  background: #e0cbb4;
  border-radius: 40px;
  padding: 64px 16px;
  width: 288px;
  text-align: center;
  position: relative;
}

/* Кнопка "x" */
.subscription-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: transparent;

  transition: opacity 250ms ease-in-out;
}

.subscription-close:hover,
.subscription-close:focus {
  opacity: 0.5;
}

.subscription-close:active {
  opacity: 0.7;
}

/* Заголовок */
.subscription-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}

/* Текст */
.subscription-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
}

/* Зображення */
.subscription-image {
  border-radius: 24px;
  margin: 0 auto;
}

/* Кнопка Close */
.subscription-btn {
  display: inline-block;
  border-radius: 100px;
  font-weight: 500;
  line-height: 1.5;
  min-width: 256px;
  height: 44px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  color: #fff;
  margin-top: 24px;

  transition: opacity 250ms ease-in-out;
}

.subscription-btn:hover,
.subscription-btn:focus {
  opacity: 0.5;
}

.subscription-btn:active {
  opacity: 0.7;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .subscription-content {
    padding: 64px 30px;
    width: 704px;
  }

  .subscription-image {
    border-radius: 40px;
  }

  .subscription-title {
    font-size: 36px;
  }

  .subscription-text {
    margin-bottom: 48px;
  }

  .subscription-btn {
    min-width: 340px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .subscription-content {
    width: 866px;
    padding: 64px;
  }

  .subscription-title {
    font-size: 48px;
  }

  .subscription-btn {
    min-width: 274px;
  }
}
