.testimonials-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.testimonials-h {
  font-family: "Aboreto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.rewev-comment {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.rewev-name {
  font-weight: 600;
  line-height: 150%;
  margin-top: 24px;
  
}

.rewev-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.rewev-li {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  background-color: #c29d84;
}

.star-svg-full {
  fill: #0B0803;
}

.star-svg-hollow {
  fill: transparent;
  stroke: #0B0803;
}

.star-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 24px;
}

.rewev-content {
  display: flex;
  flex-direction: column;
}



@media screen and (min-width: 768px) {
  .rewev-ul {
    justify-content: center;
  }

  .rewev-li {
    width: 340px;
    height: 253px;
    box-sizing: border-box;
  }

  .rewev-name {
  margin-top: auto;
  
}
}
@media screen and (min-width: 1440px) {


  .rewev-li {
    width: 310px;
    height: 304px;
  }

  .testimonials-h {
    font-size: 46px;
    width: 300px;
  }

  .rewev-name {
  margin-top: auto;
  
}
}
